body{ 
    
    margin:20px auto;
    width:960px;

}
h1 {
   color: #DC143C;
   
}
span{
    text-decoration : underline;
    
}
.mainpoint{
    font-family :"Courier New",Courier, monospace ;
}
   
h2{
    font-weight: strong;
}
